
<div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Stexo</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            </div>

            <div class="row">

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-account-circle bg-primary  text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">All users</h5>
                            </div>
                            <h3 class="mt-4"><%= allUser%></h3>
                      
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-tag-text-outline  bg-success text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">All products</h5>
                            </div>
                            <h3 class="mt-4"><%= allProduct%></h3>
                           
                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-cart-outline bg-warning text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">All orders</h5>
                            </div>
                            <h3 class="mt-4"><%= allOrders%></h3>
                        
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-briefcase-check bg-danger text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">Successful orders</h5>
                            </div>
                            <h3 class="mt-4"><%= sellOrders%></h3>
                
                        </div>
                    </div>
                </div>

            </div>

           
            <!-- end row -->


        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end wrapper -->
    <div>

    