<h4>"delete ?"</h4>
<form  method="POST" action="<%=`users/${users._id}? method=DELETE`%>">
<a href="/users/" class="btn btn-primary btn-sm">Yes</a>
</form>
 <a href="/users/" class="btn btn-primary btn-sm">No</a>
