<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Stexo - Responsive Admin & Dashboard Template | Themesdesign</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <meta content="Themesdesign" name="author" />
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="header-bg">
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo-->
                    <div>
                        <a href="index.ejs" class="logo">
                            <span class="logo-light">
                                    <i class="mdi mdi-camera-control"></i> Stexo
                            </span>
                        </a>
                    </div>
                    <!-- End Logo-->

                    <div class="menu-extras topbar-custom navbar p-0">
                        <ul class="list-inline d-none d-lg-block mb-0">
                            <li class="hide-phone app-search float-left">
                                <form role="search" class="app-search">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form-control" placeholder="Search..">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </li>
                        </ul>

                        <ul class="navbar-right ml-auto list-inline float-right mb-0">
                            <!-- language-->
                            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="assets/images/flags/us_flag.jpg" class="mr-2" height="12" alt="" /> English <span class="mdi mdi-chevron-down"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated language-switch">
                                    <a class="dropdown-item" href="#"><img src="assets/images/flags/french_flag.jpg" alt="" height="16" /><span> French </span></a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/flags/spain_flag.jpg" alt="" height="16" /><span> Spanish </span></a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/flags/russia_flag.jpg" alt="" height="16" /><span> Russian </span></a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/flags/germany_flag.jpg" alt="" height="16" /><span> German </span></a>
                                    <a class="dropdown-item" href="#"><img src="assets/images/flags/italy_flag.jpg" alt="" height="16" /><span> Italian </span></a>
                                </div>
                            </li>

                            <!-- full screen -->
                            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                                <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                                    <i class="mdi mdi-arrow-expand-all noti-icon"></i>
                                </a>
                            </li>

                            <!-- notification -->
                            <li class="dropdown notification-list list-inline-item">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-bell-outline noti-icon"></i>
                                    <span class="badge badge-pill badge-danger noti-icon-badge">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-lg px-1">
                                    <!-- item-->
                                    <h6 class="dropdown-item-text">
                                            Notifications
                                        </h6>
                                    <div class="slimscroll notification-item-list">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                            <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                            <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-danger"><i class="mdi mdi-message-text-outline"></i></div>
                                            <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-info"><i class="mdi mdi-filter-outline"></i></div>
                                            <p class="notify-details"><b>Your item is shipped</b><span class="text-muted">It is a long established fact that a reader will</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-success"><i class="mdi mdi-message-text-outline"></i></div>
                                            <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-warning"><i class="mdi mdi-cart-outline"></i></div>
                                            <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                        </a>

                                    </div>
                                    <!-- All-->
                                    <a href="javascript:void(0);" class="dropdown-item text-center notify-all text-primary">
                                            View all <i class="fi-arrow-right"></i>
                                        </a>
                                </div>
                            </li>

                            <li class="dropdown notification-list list-inline-item">
                                <div class="dropdown notification-list nav-pro-img">
                                    <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                        <img src="assets/images/users/user-4.jpg" alt="user" class="rounded-circle">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <!-- item-->
                                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle"></i> Profile</a>
                                        <a class="dropdown-item" href="#"><i class="mdi mdi-wallet"></i> My Wallet</a>
                                        <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings"></i> Settings</a>
                                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline"></i> Lock screen</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="#"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                    </div>
                                </div>
                            </li>

                            <li class="menu-item dropdown notification-list list-inline-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>

                        </ul>

                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div>
                <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <!-- MENU Start -->
            <div class="navbar-custom">
                <div class="container-fluid">

                    <div id="navigation">

                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            <li class="has-submenu">
                                <a href="index.ejs"><i class="icon-accelerator"></i> Dashboard</a>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="icon-pencil-ruler"></i> UI Elements <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu megamenu">
                                    <li>
                                        <ul>
                                            <li><a href="ui-alerts.ejs">Alerts</a></li>
                                            <li><a href="ui-badge.ejs">Badge</a></li>
                                            <li><a href="ui-buttons.ejs">Buttons</a></li>
                                            <li><a href="ui-cards.ejs">Cards</a></li>
                                            <li><a href="ui-dropdowns.ejs">Dropdowns</a></li>
                                            <li><a href="ui-navs.ejs">Navs</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li><a href="ui-tabs-accordions.ejs">Tabs &amp; Accordions</a></li>
                                            <li><a href="ui-modals.ejs">Modals</a></li>
                                            <li><a href="ui-images.ejs">Images</a></li>
                                            <li><a href="ui-progressbars.ejs">Progress Bars</a></li>
                                            <li><a href="ui-pagination.ejs">Pagination</a></li>
                                            <li><a href="ui-popover-tooltips.ejs">Popover & Tooltips</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <ul>
                                            <li><a href="ui-spinner.ejs">Spinner</a></li>
                                            <li><a href="ui-carousel.ejs">Carousel</a></li>
                                            <li><a href="ui-video.ejs">Video</a></li>
                                            <li><a href="ui-typography.ejs">Typography</a></li>
                                            <li><a href="ui-grid.ejs">Grid</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="icon-life-buoy"></i> Components <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu">
                                    <li class="has-submenu">
                                        <a href="#">Email</a>
                                        <ul class="submenu">
                                            <li><a href="email-inbox.ejs">Inbox</a></li>
                                            <li><a href="email-read.ejs">Email Read</a></li>
                                            <li><a href="email-compose.ejs">Email Compose</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="calendar.ejs">Calendar </a>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">Forms</a>
                                        <ul class="submenu">
                                            <li><a href="form-elements.ejs">Form Elements</a></li>
                                            <li><a href="form-validation.ejs">Form Validation</a></li>
                                            <li><a href="form-advanced.ejs">Form Advanced</a></li>
                                            <li><a href="form-editors.ejs">Form Editors</a></li>
                                            <li><a href="form-uploads.ejs">Form File Upload</a></li>
                                            <li><a href="form-mask.ejs">Form Mask</a></li>
                                            <li><a href="form-summernote.ejs">Summernote</a></li>
                                            <li><a href="form-xeditable.ejs">Form Xeditable</a></li>
                                        </ul>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#">Charts </a>
                                        <ul class="submenu">
                                            <li><a href="charts-morris.ejs">Morris Chart</a></li>
                                            <li><a href="charts-chartist.ejs">Chartist Chart</a></li>
                                            <li><a href="charts-chartjs.ejs">Chartjs Chart</a></li>
                                            <li><a href="charts-flot.ejs">Flot Chart</a></li>
                                            <li><a href="charts-c3.ejs">C3 Chart</a></li>
                                            <li><a href="charts-other.ejs">Jquery Knob Chart</a></li>
                                        </ul>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#">Tables </a>
                                        <ul class="submenu">
                                            <li><a href="tables-basic.ejs">Basic Tables</a></li>
                                            <li><a href="tables-datatable.ejs">Data Table</a></li>
                                            <li><a href="tables-responsive.ejs">Responsive Table</a></li>
                                            <li><a href="tables-editable.ejs">Editable Table</a></li>
                                        </ul>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#">Icons</a>
                                        <ul class="submenu">
                                            <li><a href="icons-material.ejs">Material Design</a></li>
                                            <li><a href="icons-fontawesome.ejs">Font Awesome</a></li>
                                            <li><a href="icons-outline.ejs">Outline Icons</a></li>
                                            <li><a href="icons-themify.ejs">Themify Icons</a></li>
                                        </ul>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#">Maps</a>
                                        <ul class="submenu">
                                            <li><a href="maps-google.ejs"> Google Map</a></li>
                                            <li><a href="maps-vector.ejs"> Vector Map</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="icon-diamond"></i> Advanced UI <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu megamenu">
                                    <li>
                                        <ul>
                                            <li><a href="advanced-alertify.ejs">Alertify</a></li>
                                            <li><a href="advanced-rating.ejs">Rating</a></li>
                                            <li><a href="advanced-nestable.ejs">Nestable</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li><a href="advanced-rangeslider.ejs">Range Slider</a></li>
                                            <li><a href="advanced-sweet-alert.ejs">Sweet-Alert</a></li>
                                            <li><a href="advanced-lightbox.ejs">Lightbox</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="icon-paper-sheet"></i> Pages <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu megamenu">

                                    <li>
                                        <ul>
                                            <li><a href="pages-pricing.ejs">Pricing</a></li>
                                            <li><a href="pages-invoice.ejs">Invoice</a></li>
                                            <li><a href="pages-timeline.ejs">Timeline</a></li>
                                            <li><a href="pages-faqs.ejs">FAQs</a></li>
                                            <li><a href="pages-maintenance.ejs">Maintenance</a></li>
                                            <li><a href="pages-comingsoon.ejs">Coming Soon</a></li>
                                            <li><a href="pages-starter.ejs">Starter Page</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li><a href="pages-login.ejs">Login</a></li>
                                            <li><a href="pages-register.ejs">Register</a></li>
                                            <li><a href="pages-recoverpw.ejs">Recover Password</a></li>
                                            <li><a href="pages-lock-screen.ejs">Lock Screen</a></li>
                                            <li><a href="pages-404.ejs">Error 404</a></li>
                                            <li><a href="pages-500.ejs">Error 500</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <!-- End navigation menu -->
                    </div>
                    <!-- end #navigation -->
                </div>
                <!-- end container -->
            </div>
            <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->

    </div>
    <!-- header-bg -->

    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Outline Icons</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Stexo</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Icons</a></li>
                            <li class="breadcrumb-item active">Outline Icons</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <h4 class="m-t-0 header-title mb-4">Examples</h4>

                            <div class="row icon-demo-content">
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-boat"></i> icon-boat
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-booknote"></i> icon-booknote
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-booknote-add"></i> icon-booknote-add
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-booknote-remove"></i> icon-booknote-remove
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-camera-1"></i> icon-camera-1
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-camera-2"></i> icon-camera-2
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-cloud-check"></i> icon-cloud-check
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-cloud-delete"></i> cloud-delete
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-cloud-download"></i> icon-cloud-download
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-cloud-upload"></i> icon-cloud-upload
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-cloudy"></i> icon-cloudy
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-cocktail"></i> icon-cocktail
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-coffee"></i> icon-coffee
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-compass"></i> icon-compass
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-compress"></i> icon-compress
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-cutlery"></i> icon-cutlery
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-delete"></i> icon-delete
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-delete-folder"></i> icon-delete-folder
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-dialogue-add"></i> icon-dialogue-add
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-dialogue-delete"></i> icon-dialogue-delete
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-dialogue-happy"></i> icon-dialogue-happy
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-dialogue-sad"></i> icon-dialogue-sad
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-dialogue-text"></i> icon-dialogue-text
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-dialogue-think"></i> icon-dialogue-think
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-diamond"></i> icon-diamond
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-dish-fork"></i> icon-dish-fork
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-dish-spoon"></i> icon-dish-spoon
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-download"></i> icon-download
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-download-folder"></i> icon-download-folder
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-expand"></i> icon-expand
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-eye"></i> icon-eye
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-fast-food"></i> icon-fast-food
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-flag"></i> icon-flag
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-folder"></i> icon-folder
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-geolocalizator"></i> icon-geolocalizator
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-globe"></i> icon-globe
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-graph"></i> icon-graph
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-graph-descending"></i> icon-graph-descending
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-graph-rising"></i> icon-graph-rising
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-hammer"></i> icon-hammer
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-happy-drop"></i> icon-happy-drop
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-headphones"></i> icon-headphones
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-heart"></i> icon-heart
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-heart-broken"></i> icon-heart-broken
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-home"></i> icon-home
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-hourglass"></i> icon-hourglass
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-image"></i> icon-image
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-key"></i> icon-key
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-life-buoy"></i> icon-life-buoy
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-listlist"></i> icon-listlist
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-lock-closed"></i> icon-lock-closed
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-lock-open"></i> icon-lock-open
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-loudspeaker"></i> icon-loudspeaker
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-magnifier"></i> icon-magnifier
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-magnifier-minus"></i> icon-magnifier-minus
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-magnifier-plus"></i> icon-magnifier-plus
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-mail"></i> icon-mail
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-mail-open"></i> icon-mail-open
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-map"></i> icon-map
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-medical-case"></i> icon-medical-case
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-microphone-1"></i> icon-microphone-1
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-microphone-2"></i> icon-microphone-2
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-minus"></i> icon-minus
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-multiple-image"></i> icon-multiple-image
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-back"></i> icon-music-back
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-backtoend"></i> icon-music-backtoend
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-eject"></i> icon-music-eject
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-forward"></i> icon-music-forward
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-forwardtoend"></i> icon-music-forwardtoend
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-pause"></i> icon-music-pause
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-play"></i> icon-music-play
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-random"></i> icon-music-random
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-repeat"></i> icon-music-repeat
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-music-stop"></i> icon-music-stop
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-musical-note"></i> icon-musical-note
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-musical-note-2"></i> icon-musical-note-2
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-old-video-cam"></i> icon-old-video-cam
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-paper-pen"></i> icon-paper-pen
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-paper-pencil"></i> icon-paper-pencil
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-paper-sheet"></i> icon-paper-sheet
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-pen-pencil-ruler"></i> icon-pen-pencil-ruler
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-pencil"></i> icon-pencil
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-pencil-ruler"></i> icon-pencil-ruler
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-plus"></i> icon-plus
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-portable-pc"></i> icon-portable-pc
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-pricetag"></i> icon-pricetag
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-printer"></i> icon-printer
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-profile"></i> icon-profile
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-profile-add"></i> icon-profile-add
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-profile-remove"></i> icon-profile-remove
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-rainy"></i> icon-rainy
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-rotate"></i> icon-rotate
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-setting-1"></i> icon-setting-1
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-setting-2"></i> icon-setting-2
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-share"></i> icon-share
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-shield-down"></i> icon-shield-down
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-shield-left"></i> icon-shield-left
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-shield-right"></i> icon-shield-right
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-shield-up"></i> icon-shield-up
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-shopping-cart"></i> icon-shopping-cart
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-shopping-cart-content"></i> icon-shopping-cart-content
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-sinth"></i> icon-sinth
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-smartphone"></i> icon-smartphone
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-spread"></i> icon-spread
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-squares"></i> icon-squares
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-stormy"></i> icon-stormy
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-sunny"></i> icon-sunny
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-tablet"></i> icon-tablet
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-three-stripes-horiz"></i> icon-three-stripes-horiz
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-three-stripes-vert"></i> icon-three-stripes-vert
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-ticket"></i> icon-ticket
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-todolist"></i> icon-todolist
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-todolist-add"></i> icon-todolist-add
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-todolist-check"></i> icon-todolist-check
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-trash-bin"></i> icon-trash-bin
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-tshirt"></i> icon-tshirt
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-tv-monitor"></i> icon-tv-monitor
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-umbrella"></i> icon-umbrella
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-upload"></i> icon-upload
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-upload-folder"></i> icon-upload-folder
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-variable"></i> icon-variable
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-video-cam"></i> icon-video-cam
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-volume-higher"></i> icon-volume-higher
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-volume-lower"></i> icon-volume-lower
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-volume-off"></i> icon-volume-off
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-watch"></i> icon-watch
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-waterfall"></i> icon-waterfall
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-website-1"></i> icon-website-1
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-website-2"></i> icon-website-2
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-wine"></i> icon-wine
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-calendar"></i> icon-calendar
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-alarm-clock"></i> icon-alarm-clock
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-add-folder"></i> icon-add-folder
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-accelerator"></i> icon-accelerator
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-agenda"></i> icon-agenda
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-arrow-left"></i> icon-arrow-left
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-arrow-down"></i> icon-arrow-down
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-battery-1"></i> icon-battery-1
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-case"></i> icon-case
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-arrow-up"></i> icon-arrow-up
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-arrow-right"></i> icon-arrow-right
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-case-2"></i> icon-case-2
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-cd"></i> icon-cd
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-battery-2"></i> icon-battery-2
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-battery-3"></i> icon-battery-3
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-check"></i> icon-check
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-battery-4"></i> icon-battery-4
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-chronometer"></i> icon-chronometer
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-clock"></i> icon-clock
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <i class="icon-blackboard-graph"></i> icon-blackboard-graph
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end wrapper -->

    <!-- Footer -->
    <footer class="footer">
        © 2019 - 2020 Stexo <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</span>.
    </footer>

    <!-- End Footer -->

    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/waves.min.js"></script>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

</body>

</html>