
<body class="common-home res layout-subpage banners-effect-7">
	<div id="wrapper" class="wrapper-full ">
		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main">
				<li class="home"><a href="#">Home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>

				<li><a href="#">Blog</a></li>

			</ul>

			<div class="row">
				
				<!--Left Part End -->

				<!--Middle Part Start-->
				<div id="content" class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
					<div class="blog-header">
						<h3 class="modtitle">Blog</h3>
					</div>
					<div class="blog-listitem">
						<div class="blog-item ">
							<div class="itemBlogImg ">
								<div class="article-image ">
									<div>
										<div class="day">
											<p>24</p>
											<p>Dec</p>
										</div>
										<a class="popup-gallery" href="img/demo/blog/blog-1.jpg"><img src="img/demo/blog/blog-1.jpg" alt="Kire tuma demonstraverunt lector"></a>
									</div>
								</div>
							</div>
							<div class="itemBlogContent ">
								<div class="article-title">
									<h4>
										<a href="blog-detail.ejs">Kire Tuma Demonstraverunt Lector</a>
									</h4>

								</div>
								<div class="article-description">
									Morbi tempus, non ullamcorper euismod, erat odio suscipit purus, nec ornare lacus turpis ac purus. Mauris cursus in mi vel dignissim. Morbi mollis elit ipsum, a feugiat lectus gravida non. Aenean molestie justo sed aliquam euismod. Maecenas laoreet b								    </div>
									<div class="blog-meta">
										<span class="comment_count">
											<a href="#"><i class="fa fa-comments" aria-hidden="true"></i>0</a>
										</span>
										<span class="author">
											<a href="blog-detail.ejs">View more
												<i class="fa fa-angle-double-right" aria-hidden="true"></i>
											</a>
										</span>
									</div>
									<div class="share">
										<p>Share This:</p>
										<div class="share-icon">
											<ul>
												<li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li class="skype"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>

											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="blog-item ">
								<div class="itemBlogImg ">
									<div class="article-image ">
										<div>
											<div class="day">
												<p>24</p>
												<p>Dec</p>
											</div>
											<a class="popup-gallery" href="img/demo/blog/blog-1.jpg"><img src="img/demo/blog/blog-1.jpg" alt="Kire tuma demonstraverunt lector"></a>
										</div>
									</div>
								</div>
								<div class="itemBlogContent ">
									<div class="article-title">
										<h4>
											<a href="blog-detail.ejs">Kire Tuma Demonstraverunt Lector</a>
										</h4>

									</div>
									<div class="article-description">
										Morbi tempus, non ullamcorper euismod, erat odio suscipit purus, nec ornare lacus turpis ac purus. Mauris cursus in mi vel dignissim. Morbi mollis elit ipsum, a feugiat lectus gravida non. Aenean molestie justo sed aliquam euismod. Maecenas laoreet b								    </div>
										<div class="blog-meta">
											<span class="comment_count">
												<a href="#"><i class="fa fa-comments" aria-hidden="true"></i>0</a>
											</span>
											<span class="author">
												<a href="blog-detail.ejs">View more
													<i class="fa fa-angle-double-right" aria-hidden="true"></i>
												</a>
											</span>
										</div>
										<div class="share">
											<p>Share This:</p>
											<div class="share-icon">
												<ul>
													<li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
													<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
													<li class="skype"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>

												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="blog-item ">
									<div class="itemBlogImg ">
										<div class="article-image ">
											<div>
												<div class="day">
													<p>24</p>
													<p>Dec</p>
												</div>
												<a class="popup-gallery" href="img/demo/blog/blog-2.jpg"><img src="img/demo/blog/blog-2.jpg" alt="Kire tuma demonstraverunt lector"></a>
											</div>
										</div>
									</div>
									<div class="itemBlogContent ">
										<div class="article-title">
											<h4>
												<a href="blog-detail.ejs">Kire Tuma Demonstraverunt Lector</a>
											</h4>

										</div>
										<div class="article-description">
											Morbi tempus, non ullamcorper euismod, erat odio suscipit purus, nec ornare lacus turpis ac purus. Mauris cursus in mi vel dignissim. Morbi mollis elit ipsum, a feugiat lectus gravida non. Aenean molestie justo sed aliquam euismod. Maecenas laoreet b								    </div>
											<div class="blog-meta">
												<span class="comment_count">
													<a href="#"><i class="fa fa-comments" aria-hidden="true"></i>0</a>
												</span>
												<span class="author">
													<a href="blog-detail.ejs">View more
														<i class="fa fa-angle-double-right" aria-hidden="true"></i>
													</a>
												</span>
											</div>
											<div class="share">
												<p>Share This:</p>
												<div class="share-icon">
													<ul>
														<li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
														<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
														<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
														<li class="skype"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>

													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="blog-item ">
										<div class="itemBlogImg ">
											<div class="article-image ">
												<div>
													<div class="day">
														<p>24</p>
														<p>Dec</p>
													</div>
													<a class="popup-gallery" href="img/demo/blog/blog-3.jpg"><img src="img/demo/blog/blog-3.jpg" alt="Kire tuma demonstraverunt lector"></a>
												</div>
											</div>
										</div>
										<div class="itemBlogContent Ac tincidunt Suspendisse malesuada velit in Nullam elit magnis netus Vestibulum">
											<div class="article-title">
												<h4>
													<a href="blog-detail.ejs">Kire Tuma Demonstraverunt Lector</a>
												</h4>

											</div>
											<div class="article-description">
												Morbi tempus, non ullamcorper euismod, erat odio suscipit purus, nec ornare lacus turpis ac purus. Mauris cursus in mi vel dignissim. Morbi mollis elit ipsum, a feugiat lectus gravida non. Aenean molestie justo sed aliquam euismod. Maecenas laoreet b								    </div>
												<div class="blog-meta">
													<span class="comment_count">
														<a href="#"><i class="fa fa-comments" aria-hidden="true"></i>0</a>
													</span>
													<span class="author">
														<a href="blog-detail.ejs">View more
															<i class="fa fa-angle-double-right" aria-hidden="true"></i>
														</a>
													</span>
												</div>
												<div class="share">
													<p>Share This:</p>
													<div class="share-icon">
														<ul>
															<li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
															<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
															<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
															<li class="skype"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>

														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="blog-item last">
											<div class="itemBlogImg">
												<div class="article-image ">
													<div>
														<div class="day">
															<p>24</p>
															<p>Dec</p>
														</div>
														<a class="popup-gallery" href="img/demo/blog/blog-4.jpg"><img src="img/demo/blog/blog-4.jpg" alt="Kire tuma demonstraverunt lector"></a>
													</div>
												</div>
											</div>
											<div class="itemBlogContent ">
												<div class="article-title">
													<h4>
														<a href="blog-detail.ejs">Kire Tuma Demonstraverunt Lector</a>
													</h4>

												</div>
												<div class="article-description">
													Morbi tempus, non ullamcorper euismod, erat odio suscipit purus, nec ornare lacus turpis ac purus. Mauris cursus in mi vel dignissim. Morbi mollis elit ipsum, a feugiat lectus gravida non. Aenean molestie justo sed aliquam euismod. Maecenas laoreet b								    </div>
													<div class="blog-meta">
														<span class="comment_count">
															<a href="#"><i class="fa fa-comments" aria-hidden="true"></i>0</a>
														</span>
														<span class="author">
															<a href="blog-detail.ejs">View more
																<i class="fa fa-angle-double-right" aria-hidden="true"></i>
															</a>
														</span>
													</div>
													<div class="share">
														<p>Share This:</p>
														<div class="share-icon">
															<ul>
																<li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
																<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
																<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
																<li class="skype"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>

															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="blog-listitem-bottom">
												<p>item 01 - 05 of 47 total</p>
												<ul class="pagination">
													<li class="active"><span>1</span></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">&gt;</a></li>
												</ul>
											</div>


										</div>
									</div>
									<!--Left Part Start -->
									<aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3" id="column-left">
										<div class="block-search">
											<div class="search">
												<div class="modsearch">
													<input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Search product..." name="search">

													<button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>

												</div>
											</div>

										</div>

										<div class="module blog-category titleLine">


											<h3 class="modtitle">Blog Category</h3>
											<div class="modcontent">
												<ul class="list-group ">
													<li class="list-group-item"> <a href="blog-page.ejs"class="group-item active">Our Blog</a></li>
													<li class="list-group-item"><a href="blog-page.ejs" class="group-item">Demo Category 2</a></li>
													<li class="list-group-item"><a href="blog-page.ejs" class="group-item">Demo Category 3</a></li>
													<li class="list-group-item"><a href="blog-page.ejs" class="group-item">Demo Category 4</a></li>
													<li class="list-group-item"><a href="blog-page.ejs" class="group-item">Demo Category 5</a></li>
												</ul>

											</div>
										</div>

										<div class="banners">
											<div>
												<a href="#"><img src="img/demo/cms/left-image-static.png" alt="Latest Product"></a>
											</div>
										</div>
									</aside>


								</div>
								<!--Middle Part End-->
							</div>
							<!-- //Main Container -->

	</div>