

<body class="common-home res layout-home10">
	
	<div id="wrapper" class="wrapper-full banners-effect-7">

		<div class="content-main home-9">
			<section class="so-spotlight1 ">
				<div class="container">
					<div class="row">
						<div class="">
							<div class="banners">
								<div class="col-md-6">
									<a href="#"><img src="img/demo/banner/home-10/banner1-1.jpg" alt=""></a>
								</div>
								<div class="col-md-6">
									<a href="#"><img src="img/demo/banner/home-10/banner1-2.jpg" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight2">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12 category-1">
							<div class="category">
								<div class="img-cate">
									<a href="#"><img src="img/demo/banner/home-10/banner2-1.jpg" alt=""></a>
								</div>
								<div class="content-cate">
									<ul>
										<li><a href="#">Eyes</a></li>
										<li><a href="#">Lips</a></li>
										<li><a href="#">Sets & Palettes</a></li>
										<li><a href="#">Accessories</a></li>
										<li><a href="#">Nail Care</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 category-1">
							<div class="category">
								<div class="img-cate">
									<a href="#"><img src="img/demo/banner/home-10/banner2-2.jpg" alt=""></a>
								</div>
								<div class="content-cate">
									<ul>
										<li><a href="#">Air Conditioners</a></li>
										<li><a href="#">Air Purifiers</a></li>
										<li><a href="#">Freezers</a></li>
										<li><a href="#">Microwave & Ovens</a></li>
										<li><a href="#">Refrigerators</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 category-1">
							<div class="category">
								<div class="img-cate">
									<a href="#"><img src="img/demo/banner/home-10/banner2-3.jpg" alt=""></a>
								</div>
								<div class="content-cate">
									<ul>
										<li><a href="#">Diapering & Potty</a></li>
										<li><a href="#">Disposable Diapers</a></li>
										<li><a href="#">Diaper Bagss</a></li>
										<li><a href="#">Cloth Diapers</a></li>
										<li><a href="#">Baby Gear</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 category-1">
							<div class="category">
								<div class="img-cate">
									<a href="#"><img src="img/demo/banner/home-10/banner2-4.jpg" alt=""></a>
								</div>
								<div class="content-cate">
									<ul>
										<li><a href="#">Skin Care</a></li>
										<li><a href="#">Makeup</a></li>
										<li><a href="#">Food Supplements</a></li>
										<li><a href="#">Memory Cards</a></li>
										<li><a href="#">Memory Cards</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 category-1">
							<div class="category">
								<div class="img-cate">
									<a href="#"><img src="img/demo/banner/home-10/banner2-5.jpg" alt=""></a>
								</div>
								<div class="content-cate">
									<ul>
										<li><a href="#">Skin Care</a></li>
										<li><a href="#">Makeup</a></li>
										<li><a href="#">Food Supplements</a></li>
										<li><a href="#">Memory Cards</a></li>
										<li><a href="#">Memory Cards</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 category-1">
							<div class="category">
								<div class="img-cate">
									<a href="#"><img src="img/demo/banner/home-10/banner2-6.jpg" alt=""></a>
								</div>
								<div class="content-cate">
									<ul>
										<li><a href="#">Mobiles</a></li>
										<li><a href="#">Tablets</a></li>
										<li><a href="#">Accessories</a></li>
										<li><a href="#">Power Banks</a></li>
										<li><a href="#">Phone Cases</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 category-1">
							<div class="category">
								<div class="img-cate">
									<a href="#"><img src="img/demo/banner/home-10/banner2-7.jpg" alt=""></a>
								</div>
								<div class="content-cate">
									<ul>
										<li><a href="#">Exercise & Fitness</a></li>
										<li><a href="#">Cardio Equipment</a></li>
										<li><a href="#">Strength Equipment</a></li>
										<li><a href="#">Fitness Accessories</a></li>
										<li><a href="#">Weight</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 category-1">
							<div class="category">
								<div class="img-cate">
									<a href="#"><img src="img/demo/banner/home-10/banner2-8.jpg" alt=""></a>
								</div>
								<div class="content-cate">
									<ul>
										<li><a href="#">Skin Care</a></li>
										<li><a href="#">Makeup</a></li>
										<li><a href="#">Food Supplements</a></li>
										<li><a href="#">Memory Cards</a></li>
										<li><a href="#">Memory Cards</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 category-1">
							<div class="category">
								<div class="img-cate">
									<a href="#"><img src="img/demo/banner/home-10/banner2-9.jpg" alt=""></a>
								</div>
								<div class="content-cate">
									<ul>
										<li><a href="#">Dresses</a></li>
										<li><a href="#">Tops</a></li>
										<li><a href="#">Cheongsam</a></li>
										<li><a href="#">Back to Black</a></li>
										<li><a href="#">5 Stars Rating!</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		</section>
		<section class="so-spotlight3">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="deal">
							<div class="titleh3">
								<h3 class="h3module">Today Deals</h3>
							</div>
							<div class="owl-carousel" data-nav="yes" data-loop="yes" data-margin="0" data-items_md="1" data-items_sm="1" data-items_xs="1">
								<div class="box-product">
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$78.00</span>   
														<span class="price-old">$123.00</span> 
													</div>
													<span class="sale">-10%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-1.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$64.00</span> 
														<span class="price-old">$96.00</span>  

													</div>
													<span class="sale">-10%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-2.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$95.00</span> 
														<span class="price-old">$135.00</span>    

													</div>
													<span class="sale">-15%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-3.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$84.00</span>   
														<span class="price-old">$132.00</span>  

													</div>
													<span class="sale">-20%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-4.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$95.00</span>
														<span class="price-old">$114.00</span>     

													</div>
													<span class="sale">-7%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-5.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product last">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$62.00</span> 
														<span class="price-old">$84.00</span>    

													</div>
													<span class="sale">-25%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-6.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="box-product">
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$48.00</span>
														<span class="price-old">$82.00</span>     

													</div>
													<span class="sale">-13%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-7.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$128.00</span>
														<span class="price-old">$156.00</span>     

													</div>
													<span class="sale">-20%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-8.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$63.00</span> 
														<span class="price-old">$84.00</span>    

													</div>
													<span class="sale">-10%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-9.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$59.00</span> 
														<span class="price-old">$72.00</span>    

													</div>
													<span class="sale">-5%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-10.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product ">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$81.00</span>
														<span class="price-old">$117.00</span>   

													</div>
													<span class="sale">-15%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-11.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="product last">
										<div class="product-item-container">
											<div class="top-block ">
												<div class="caption">
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
													<h4><a href="../product.ejs">New Style Blender</a></h4>


													<div class="price">
														<span class="price-new">$103.00</span>
														<span class="price-old">$130.00</span>     

													</div>
													<span class="sale">-15%</span>
												</div>
												<div class="time-box"></div>
											</div>
											<div class=" bot-block ">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-12.jpg" alt=""></a>
													<!--Sale Label-->


													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="so-spotlight4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="banners">
							<div>
								<a href="#"><img src="img/demo/banner/home-10/banner-3.jpg" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="so-spotlight5">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="deal">
							<div class="titleh3">
								<h3 class="h3module">New Arrivals</h3>
								<div class="see-all">
									<a href="#">See All  <i class="fa fa-caret-right" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="box-product">
								<div class="product ">
									<div class="product-item-container">
										<div class="top-block ">
											<div class="caption">
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>
												<h4><a href="../product.ejs">New Style Blender</a></h4>


												<div class="price">
													<span class="price-new">$91.00</span>   

												</div>
												<span class="new">new</span>
											</div>

										</div>
										<div class=" bot-block ">
											<div class="product-image-container  second_img ">
												<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-13.jpg" alt=""></a>
												<!--Sale Label-->


												<div class="hover-1">
													<ul>
														<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
														</li>
														<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="product ">
									<div class="product-item-container">
										<div class="top-block ">
											<div class="caption">
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>
												<h4><a href="../product.ejs">New Style Blender</a></h4>


												<div class="price">
													<span class="price-new">$62.00</span>   

												</div>
												<span class="new">new</span>
											</div>

										</div>
										<div class=" bot-block ">
											<div class="product-image-container  second_img ">
												<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-14.jpg" alt=""></a>
												<!--Sale Label-->


												<div class="hover-1">
													<ul>
														<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
														</li>
														<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="product ">
									<div class="product-item-container">
										<div class="top-block ">
											<div class="caption">
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>
												<h4><a href="../product.ejs">New Style Blender</a></h4>


												<div class="price">
													<span class="price-new">$113.00</span>   

												</div>

											</div>

										</div>
										<div class=" bot-block ">
											<div class="product-image-container  second_img ">
												<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-15.jpg" alt=""></a>
												<!--Sale Label-->


												<div class="hover-1">
													<ul>
														<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
														</li>
														<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="product ">
									<div class="product-item-container">
										<div class="top-block ">
											<div class="caption">
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>
												<h4><a href="../product.ejs">New Style Blender</a></h4>


												<div class="price">
													<span class="price-new">$65.00</span>   

												</div>
												<span class="new">new</span>
											</div>

										</div>
										<div class=" bot-block ">
											<div class="product-image-container  second_img ">
												<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-16.jpg" alt=""></a>
												<!--Sale Label-->


												<div class="hover-1">
													<ul>
														<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
														</li>
														<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="product ">
									<div class="product-item-container">
										<div class="top-block ">
											<div class="caption">
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>
												<h4><a href="../product.ejs">New Style Blender</a></h4>


												<div class="price">
													<span class="price-new">$73.00</span>   

												</div>

											</div>

										</div>
										<div class=" bot-block ">
											<div class="product-image-container  second_img ">
												<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-17.jpg" alt=""></a>
												<!--Sale Label-->


												<div class="hover-1">
													<ul>
														<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
														</li>
														<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="product last">
									<div class="product-item-container">
										<div class="top-block ">
											<div class="caption">
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>
												<h4><a href="../product.ejs">New Style Blender</a></h4>


												<div class="price">
													<span class="price-new">$44.00</span>   

												</div>
												<span class="new">new</span>
											</div>

										</div>
										<div class=" bot-block ">
											<div class="product-image-container  second_img ">
												<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-9/product-18.jpg" alt=""></a>
												<!--Sale Label-->


												<div class="hover-1">
													<ul>
														<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
														</li>
														<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="so-spotlight6">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="titleh3">
							<h3 class="h3module">Hot brands</h3>
							<div class="see-all">
								<a href="#">See All  <i class="fa fa-caret-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="brand">
							<div class="brand-row-1">
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-1.jpg" alt=""></a>
								</div>
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-2.jpg" alt=""></a>
								</div>
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-3.jpg" alt=""></a>
								</div>
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-4.jpg" alt=""></a>
								</div>
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-5.jpg" alt=""></a>
								</div>
								<div class="item-brand last">
									<a href="#"><img src="img/demo/brands/home-9/brand-6.jpg" alt=""></a>
								</div>
							</div>
							<div class="brand-row-2">
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-7.jpg" alt=""></a>
								</div>
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-8.jpg" alt=""></a>
								</div>
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-1.jpg" alt=""></a>
								</div>
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-2.jpg" alt=""></a>
								</div>
								<div class="item-brand">
									<a href="#"><img src="img/demo/brands/home-9/brand-3.jpg" alt=""></a>
								</div>
								<div class="item-brand last">
									<a href="#"><img src="img/demo/brands/home-9/brand-4.jpg" alt=""></a>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="so-spotlight7">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="policy-detail">
							<div class="banner-policy">
								<div class="policy policy1">
									<a > 
										<span class="ico-policy"></span> 
										<div class="service-info">
											<span class="title">Do you have any question?</span> 
											<br> 
											<span>Email.example@gmail.com</span> 
										</div>
									</a>
								</div>
								<div class="policy policy2">
									<a >
										<span class="ico-policy"></span>
										<div class="service-info">
											<span class="title">1234-567-890</span> <br><span>Mon - Fri: 8:00 - 17:00</span>
										</div>
									</a>
								</div>
								<div class="policy policy3">
									<a > 
										<span class="ico-policy"></span> 
										<div class="service-info">
											<span class="title">need help with bying?</span> <br><span>Support@etrostore.com</span> 
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="newslatter">
							<h3>sign up for newsletter</h3>
							<p>Get all the best deals, sales and offers from the best online shopping store in UAE. Sign up now !</p>
							<div class="box-input">
								<input type="text" placeholder="Your Email..." class="form-control">
								<button type="button" class="btn" >Subscribe</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</section>
	</div>
