
<body class="common-home res layout-home5">
	
	<div id="wrapper" class="wrapper-full banners-effect-8">

		<div class="content-main">
			<section class="so-spotlight1 container-fluid">
				<div class="owl-slider">
					<div class="owl-carousel " data-margin="0" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="1" data-items_md="1">
						<div class="slider">
							<a href="#"><img src="img/demo/slider/home-5/slider-1.jpg" alt=""></a>
						</div>
						<div class="slider">
							<a href="#"><img src="img/demo/slider/home-5/slider-2.jpg" alt=""></a>
						</div>
						<div class="slider">
							<a href="#"><img src="img/demo/slider/home-5/slider-3.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight2">
				<div class="collections container-fluid">
					<div class="collection collection-1">
						<div class="img-collection">
							<img src="img/demo/collections/home-5/collection-1.jpg" alt="">
						</div>
						<div class="info-collection">
							<h3><a href="#">For men</a></h3>
							<ul>
								<li><a href="#">Clothing</a></li>
								<li><a href="#">Dresses</a></li>
								<li><a href="#">Jumpsuit</a></li>
								<li><a href="#">Accessories</a></li>
								<li><a href="#">Jewelry</a></li>
								<li><a href="#">Watches</a></li>
							</ul>
						</div>
					</div>
					<div class="collection collection-2">
						<div class="img-collection">
							<img src="img/demo/collections/home-5/collection-2.jpg" alt="">
						</div>
						<div class="info-collection">
							<h3><a href="#">For women</a></h3>
							<ul>
								<li><a href="#">Clothing</a></li>
								<li><a href="#">Dresses</a></li>
								<li><a href="#">Jumpsuit</a></li>
								<li><a href="#">Accessories</a></li>
								<li><a href="#">Jewelry</a></li>
								<li><a href="#">Watches</a></li>
							</ul>
						</div>
					</div>
					<div class="collection collection-3">
						<div class="img-collection">
							<img src="img/demo/collections/home-5/collection-3.jpg" alt="">
						</div>
						<div class="info-collection">
							<h3><a href="">Accessories</a></h3>
							<ul>
								<li><a href="#">Clothing</a></li>
								<li><a href="#">Dresses</a></li>
								<li><a href="#">Jumpsuit</a></li>
								<li><a href="#">Accessories</a></li>
								<li><a href="#">Jewelry</a></li>
								<li><a href="#">Watches</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="modtitle4">Latest Products</h3>
							<hr>
							<div class="text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
								<p>incididunt ut labore et dolore magna aliqua</p>
							</div>
							<div class=" owl-carousel owl-new-arrivals " data-dots="no" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="4" data-items_md="5" data-margin="30">
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-3/product-1.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="new">New</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #01</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$45.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>

								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-3/product-3.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="new">New</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #03</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$87.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-3/product-5.jpg" alt=""></a>
													<!--Sale Label-->

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #05</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$62.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-3/product-7.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="sale">-25%</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #07</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$89.00</span>
														<span class="price-old">$102.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-3/product-9.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="sale">-25%</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #09</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$47.00</span>
														<span class="price-old">$65.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>

								</div>
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-3/product-1.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="new">New</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #11</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$94.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight4">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="modtitle4">Our Collections</h3>
							<hr>
							<div class="text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
								<p>incididunt ut labore et dolore magna aliqua</p>
							</div>
							<div class="categories">
								<div class="item-category category-1">
									<a href="#">
										<img src="img/theme/icon/home-5/category/icon-1.png" alt="">
										<p>Clothing</p>
									</a>
								</div>
								<div class="item-category category-2">
									<a href="#">
										<img src="img/theme/icon/home-5/category/icon-2.png" alt="">
										<p>Shoes</p>
									</a>
								</div>
								<div class="item-category category-3">
									<a href="#">
										<img src="img/theme/icon/home-5/category/icon-3.png" alt="">
										<p>HandBags</p>
									</a>
								</div>
								<div class="item-category category-4">
									<a href="#">
										<img src="img/theme/icon/home-5/category/icon-4.png" alt="">
										<p>SUNGLASSES</p>
									</a>
								</div>
								<div class="item-category category-5">
									<a href="#">
										<img src="img/theme/icon/home-5/category/icon-5.png" alt="">
										<p>ACCESSORIES</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight5">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="owl-testimonials">
								<div class="owl-carousel" data-nav="no" data-loop="yes" data-margin="0" data-dots="yes" data-items_xs="1" data-items_sm="1" data-items_md="1">
									<div class="item">
										<p class="client-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<div class="info-client">
											<span>Johny Walker</span>
											<p>CEO Envato - Themeforest</p>
										</div>
									</div>
									<div class="item">
										<p class="client-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<div class="info-client">
											<span>Johny Walker</span>
											<p>CEO Envato - Themeforest</p>
										</div>
									</div>
									<div class="item">
										<p class="client-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<div class="info-client">
											<span>Johny Walker</span>
											<p>CEO Envato - Themeforest</p>
										</div>
									</div>
									<div class="item">
										<p class="client-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<div class="info-client">
											<span>Johny Walker</span>
											<p>CEO Envato - Themeforest</p>
										</div>
									</div>
									<div class="item">
										<p class="client-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										<div class="info-client">
											<span>Johny Walker</span>
											<p>CEO Envato - Themeforest</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight6">
				<div class="container-fluid">
					<div class="row">
						<div class=" col-sm-12 col-xs-12">
							<div class="instagram">
								<div class="img-instagram">
									<div class="">
										<div class="img-row-1">
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i1.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i2.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i3.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i4.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i5.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i6.jpg" alt="Instagram"></a>
											</div>
										</div>
										<div class="img-row-2">
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i7.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i8.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i9.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i10.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i11.jpg" alt="Instagram"></a>
											</div>
											<div class="item-img">
												<a href="#"><img src="img/demo/instagram/i12.jpg" alt="Instagram"></a>
											</div>
										</div>
									</div>
								</div>
								<div class="info-instagram">
									<div class="info-instagram-border">
										<h3>#Destino</h3>
										<p>Fashion Style of Life (on Instagram)</p>
										<a href="#" class="btn btn-default">View Portfolio</a>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight7">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<h3 class="modtitle4">Newsletter</h3>
							<hr>
							<div class="text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
								<p>incididunt ut labore et dolore magna aliqua</p>
							</div>
							<div class="email ">
								<input type="email" placeholder="Enter email address..." value="" class="form-control" id="txtemail" name="txtemail" size="55">
								<div class="subcribe">
									<button class="btn btn-default btn-lg" type="submit" name="submit">Subscribe</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>