
<body class="common-home res layout-home6">
	
	<div id="wrapper" class="wrapper-full banners-effect-8">

		<div class="content-main home-6">
			<section class="so-spotlight1 container-fluid">
				<div class="owl-slider">
					<div class="owl-carousel " data-margin="0" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="1" data-items_md="1">
						<div class="slider">
							<a href="#"><img src="img/demo/slider/home-6/slider-1.jpg" alt=""></a>
						</div>
						<div class="slider">
							<a href="#"><img src="img/demo/slider/home-6/slider-2.jpg" alt=""></a>
						</div>
						<div class="slider">
							<a href="#"><img src="img/demo/slider/home-6/slider-3.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight2">
				<div class="policy-detail">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<div class="banner-policy">
									<div class="policy policy1">
										<a href="#">
											<div class="icon-policy"></div>
											<div class="service-info">
												<h3>Free Shipping & Return</h3>
												<p>Free shipping on orders over $49</p>
											</div>
										</a>
									</div>
									<div class="policy policy2">
										<a href="#">
											<div class="icon-policy"></div>
											<div class="service-info">
												<h3>Money Guarantee</h3>
												<p>30 days money back guarantee</p>
											</div>
										</a>
									</div>
									<div class="policy policy3">
										<a href="#">
											<div class="icon-policy"></div>
											<div class="service-info">
												<h3>Support 24/7</h3>
												<p>We support online 24/24 on day</p>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="modtitle4">Bestsellers</h3>
							<div class="text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
								<p>incididunt ut labore et dolore magna aliqua</p>
							</div>
							<div class=" owl-carousel owl-new-arrivals " data-dots="no" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="4" data-items_md="5" data-margin="30">
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-1.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="new">New</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
															</li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #01</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$45.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>

								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-2.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="new">New</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #03</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$87.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-3.jpg" alt=""></a>
													<!--Sale Label-->

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #05</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$62.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-4.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="sale">-25%</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #07</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$89.00</span>
														<span class="price-old">$102.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-5.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="sale">-25%</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #09</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$47.00</span>
														<span class="price-old">$65.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>

								</div>
								<div class="item-new-arrivals">
									<div class="product-layout">
										<div class="product-item-container">
											<div class="left-block">
												<div class="product-image-container  second_img ">
													<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-3.jpg" alt=""></a>
													<!--Sale Label-->
													<span class="new">New</span>

													<div class="hover-1">
														<ul>
															<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a></li>
															<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
															<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
															<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a href="../product.ejs">Dummy product #11</a></h4>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>

													<div class="price">
														<span class="price-new">$94.00</span>

													</div>
													<div class="description item-desc hidden">
														<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
													</div>
												</div>


											</div><!-- right block -->
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight4">
				<div class="container-fluid">
					<div class="row">
						<div class="block-gym-fitness col-sm-12 col-xs-12">
							<div class="block-gym-banner block-banner">
								<div class="banners">
									<div class="img-banner">
										<a href="#"><img src="img/demo/banner/home-6/banner-1.jpg" alt=""></a>
									</div>
								</div>
							</div>
							<div class="block-gym-product block-product">
								<h3 class="modtitle4">Fitness & yoga</h3>
								<div class="text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
									<p>incididunt ut labore et dolore magna aliqua</p>
								</div>
								<div class="owl-gym-product">
									<div class="owl-carousel" data-nav="no" data-dots="yes" data-loop="yes" data-margin="20" data-items_xs="1" data-items_sm="4" data-items_md="3">
										<div class="item">
											<div class="product-layout">
												<div class="product-item-container">
													<div class="left-block">
														<div class="product-image-container  second_img ">
															<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-a1.jpg" alt=""></a>
															<!--Sale Label-->
															<span class="new">New</span>

															<div class="hover-1">
																<ul>
																	<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
																	</li>
																	<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
																	<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
																	<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="right-block">
														<div class="caption">
															<h4><a href="../product.ejs">Dummy product #01</a></h4>
															<div class="ratings">
																<div class="rating-box">
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class="gray"><i class="fa fa-star "></i></span>
																</div>
															</div>

															<div class="price">
																<span class="price-new">$45.00</span>

															</div>
															<div class="description item-desc hidden">
																<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
															</div>
														</div>


													</div><!-- right block -->
												</div>
											</div>
										</div>
										<div class="item">
											<div class="product-layout">
												<div class="product-item-container">
													<div class="left-block">
														<div class="product-image-container  second_img ">
															<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-a2.jpg" alt=""></a>
															<!--Sale Label-->
															<span class="new">New</span>

															<div class="hover-1">
																<ul>
																	<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
																	</li>
																	<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
																	<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
																	<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="right-block">
														<div class="caption">
															<h4><a href="../product.ejs">Dummy product #02</a></h4>
															<div class="ratings">
																<div class="rating-box">
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class="gray"><i class="fa fa-star "></i></span>
																</div>
															</div>

															<div class="price">
																<span class="price-new">$68.00</span>

															</div>
															<div class="description item-desc hidden">
																<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
															</div>
														</div>


													</div><!-- right block -->
												</div>
											</div>
										</div>
										<div class="item">
											<div class="product-layout">
												<div class="product-item-container">
													<div class="left-block">
														<div class="product-image-container  second_img ">
															<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-a3.jpg" alt=""></a>
															<!--Sale Label-->
															

															<div class="hover-1">
																<ul>
																	<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
																	</li>
																	<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
																	<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
																	<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="right-block">
														<div class="caption">
															<h4><a href="../product.ejs">Dummy product #03</a></h4>
															<div class="ratings">
																<div class="rating-box">
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class="gray"><i class="fa fa-star "></i></span>
																</div>
															</div>

															<div class="price">
																<span class="price-new">$87.00</span>

															</div>
															<div class="description item-desc hidden">
																<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
															</div>
														</div>


													</div><!-- right block -->
												</div>
											</div>
										</div>
										<div class="item">
											<div class="product-layout">
												<div class="product-item-container">
													<div class="left-block">
														<div class="product-image-container  second_img ">
															<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-a2.jpg" alt=""></a>
															<!--Sale Label-->
															

															<div class="hover-1">
																<ul>
																	<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
																	</li>
																	<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
																	<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
																	<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="right-block">
														<div class="caption">
															<h4><a href="../product.ejs">Dummy product #04</a></h4>
															<div class="ratings">
																<div class="rating-box">
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class="gray"><i class="fa fa-star "></i></span>
																</div>
															</div>

															<div class="price">
																<span class="price-new">$87.00</span>

															</div>
															<div class="description item-desc hidden">
																<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
															</div>
														</div>


													</div><!-- right block -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="block-football-tennis col-sm-12 col-xs-12">
							
							<div class="block-football-product block-product">
								<h3 class="modtitle4">football & tennis</h3>
								<div class="text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
									<p>incididunt ut labore et dolore magna aliqua</p>
								</div>
								<div class="owl-football-product">
									<div class="owl-carousel" data-nav="no" data-dots="yes" data-loop="yes" data-margin="20" data-items_xs="1" data-items_sm="4" data-items_md="3">
										<div class="item">
											<div class="product-layout">
												<div class="product-item-container">
													<div class="left-block">
														<div class="product-image-container  second_img ">
															<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-a4.jpg" alt=""></a>
															<!--Sale Label-->
															<span class="new">New</span>

															<div class="hover-1">
																<ul>
																	<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
																	</li>
																	<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
																	<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
																	<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="right-block">
														<div class="caption">
															<h4><a href="../product.ejs">Dummy product #02</a></h4>
															<div class="ratings">
																<div class="rating-box">
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class="gray"><i class="fa fa-star "></i></span>
																</div>
															</div>

															<div class="price">
																<span class="price-new">$87.00</span>

															</div>
															<div class="description item-desc hidden">
																<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
															</div>
														</div>


													</div><!-- right block -->
												</div>
											</div>
										</div>
										<div class="item">
											<div class="product-layout">
												<div class="product-item-container">
													<div class="left-block">
														<div class="product-image-container  second_img ">
															<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-a5.jpg" alt=""></a>
															<!--Sale Label-->
															<span class="new">New</span>

															<div class="hover-1">
																<ul>
																	<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
																	</li>
																	<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
																	<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
																	<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="right-block">
														<div class="caption">
															<h4><a href="../product.ejs">Dummy product #01</a></h4>
															<div class="ratings">
																<div class="rating-box">
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class="gray"><i class="fa fa-star "></i></span>
																</div>
															</div>

															<div class="price">
																<span class="price-new">$29.00</span>

															</div>
															<div class="description item-desc hidden">
																<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
															</div>
														</div>


													</div><!-- right block -->
												</div>
											</div>
										</div>
										<div class="item">
											<div class="product-layout">
												<div class="product-item-container">
													<div class="left-block">
														<div class="product-image-container  second_img ">
															<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-a6.jpg" alt=""></a>
															<!--Sale Label-->
															<span class="new">New</span>

															<div class="hover-1">
																<ul>
																	<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
																	</li>
																	<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
																	<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
																	<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="right-block">
														<div class="caption">
															<h4><a href="../product.ejs">Dummy product #03</a></h4>
															<div class="ratings">
																<div class="rating-box">
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class="gray"><i class="fa fa-star "></i></span>
																</div>
															</div>

															<div class="price">
																<span class="price-new">$91.00</span>

															</div>
															<div class="description item-desc hidden">
																<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
															</div>
														</div>


													</div><!-- right block -->
												</div>
											</div>
										</div>
										<div class="item">
											<div class="product-layout">
												<div class="product-item-container">
													<div class="left-block">
														<div class="product-image-container  second_img ">
															<a href="../product.ejs" class="product-img"><img src="img/demo/shop/product/home-6/product-a5.jpg" alt=""></a>
															<!--Sale Label-->
															

															<div class="hover-1">
																<ul>
																	<li class="icon-cart"><a class="addToCart btn-button"   data-toggle="tooltip" title="" onclick="cart.add('140');" data-original-title="Add To Cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
																	</li>
																	<li class="icon-heart"><a class="wishlist btn-button"   data-toggle="tooltip" title="" onclick="wishlist.add('140');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
																	<li class="icon-exchange"><a class="compare btn-button"   data-toggle="tooltip" title="" onclick="compare.add('140');" data-original-title="Compare this Product"><i class="fa fa-refresh"></i></a></li>
																	<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.ejs">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="right-block">
														<div class="caption">
															<h4><a href="../product.ejs">Dummy product #04</a></h4>
															<div class="ratings">
																<div class="rating-box">
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class=""><i class="fa fa-star "></i></span>
																	<span class="gray"><i class="fa fa-star "></i></span>
																</div>
															</div>

															<div class="price">
																<span class="price-new">$94.00</span>

															</div>
															<div class="description item-desc hidden">
																<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
															</div>
														</div>


													</div><!-- right block -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="block-football-banner block-banner">
								<div class="banners">
									<div class="img-banner">
										<a href="#"><img src="img/demo/banner/home-6/banner-2.jpg" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight5">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="collections">
								<div class="collection">
									<a href="#">
										<div class="img-collection"><img src="img/demo/collections/home-6/c1.jpg" alt=""></div>
										
										<h4>clothings</h4>
									</a>
								</div>
								<div class="collection">
									<a href="#">
										<div class="img-collection"><img src="img/demo/collections/home-6/c2.jpg" alt=""></div>
										
										<h4>shoes</h4>
									</a>
								</div>
								<div class="collection">
									<a href="#">
										<div class="img-collection"><img src="img/demo/collections/home-6/c3.jpg" alt=""></div>
										
										<h4>Bag & BackPack</h4>
									</a>
								</div>
								<div class="collection">
									<a href="#">
										<div class="img-collection"><img src="img/demo/collections/home-6/c4.jpg" alt=""></div>
										
										<h4>Gym Equipment </h4>
									</a>
								</div>
								<div class="collection">
									<a href="#">
										<div class="img-collection"><img src="img/demo/collections/home-6/c5.jpg" alt=""></div>
										
										<h4>Accessories</h4>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="so-spotlight6">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<div class="brand">
								<div class="owl-carousel owl-brand" data-margin="15" data-nav="yes" data-dots="no" data-loop="yes" data-items_xs="2" data-items_sm="6" data-items_md="8">
									<div class="item-brand">
										<a href="#"><img src="img/demo/brands/home-3/brand-1.jpg" alt=""></a>
									</div>
									<div class="item-brand">
										<a href="#"><img src="img/demo/brands/home-3/brand-2.jpg" alt=""></a>
									</div>
									<div class="item-brand">
										<a href="#"><img src="img/demo/brands/home-3/brand-3.jpg" alt=""></a>
									</div>
									<div class="item-brand">
										<a href="#"><img src="img/demo/brands/home-3/brand-4.jpg" alt=""></a>
									</div>
									<div class="item-brand">
										<a href="#"><img src="img/demo/brands/home-3/brand-5.jpg" alt=""></a>
									</div>
									<div class="item-brand">
										<a href="#"><img src="img/demo/brands/home-3/brand-6.jpg" alt=""></a>
									</div>
									<div class="item-brand">
										<a href="#"><img src="img/demo/brands/home-3/brand-3.jpg" alt=""></a>
									</div>
									<div class="item-brand">
										<a href="#"><img src="img/demo/brands/home-3/brand-2.jpg" alt=""></a>
									</div>
									<div class="item-brand">
										<a href="#"><img src="img/demo/brands/home-3/brand-6.jpg" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>