<body class="res layout-subpage">
	<div id="wrapper" class="wrapper-full ">
		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main ">
				<li class="home"><a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li class="home"><a href="#">Account   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li>  Login</li>
			</ul>
			
			<div class="row">
				<div id="content" class="col-sm-12">
					<div class="page-login">
						
						<div class="account-border">
							<div class="row">
								<div class="col-sm-6 new-customer">
									<div class="well">
										<h2><i class="fa fa-file-o" aria-hidden="true"></i> New Customer</h2>
										<p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
									</div>
									<div class="bottom-form">
										<a href="#" class="btn btn-default pull-right">Continue</a>
									</div>
								</div>
								
								<form action="/loginn" method="POST" >
									<div class="col-sm-6 customer-login">
										<div class="well">
											<h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Returning Customer</h2>
											<p><strong>I am a returning customer</strong></p>
											<div class="form-group">
												<label class="control-label " for="input-email">E-Mail Address</label>
												<input class="form-control" type="email" name="email" required placeholder="Email">
											</div>
											<div class="form-group">
												<label class="control-label " for="input-password">Password</label>
												<input class="form-control" type="password" required name="password" placeholder="Password">
											</div>
										</div>

										<div class="form-group text-center m-t-20">
											<div class="col-12">
												<button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Log In</button>
											</div>
										</div>

										<div class="form-group row m-t-30 m-b-0">
											<div class="col-sm-7">
												<a href="pages-recoverpw.ejs" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
											</div>
											<div class="col-sm-5 text-right">
												<a href="/register" class="text-muted">Create an account</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- //Main Container -->
	</div>