
	<div id="wrapper" class="wrapper-full ">

		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main ">
				<li class="home"><a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li><li class="home"><a href="#">Account   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li>  Register</li>
			</ul>
			
			<div class="row">
				<div id="content" class="col-sm-12">
					<h2 class="title">Register Account</h2>
					<p>If you already have an account with us, please login at the <a href="#">login page</a>.</p>
					<form action="/registerr" method="POST"  class="form-horizontal account-register clearfix">
						<fieldset id="account">
							<legend>Your Personal Details</legend>
							<div class="form-group required" style="display: none;">
								<label class="col-sm-2 control-label">Customer Group</label>
								<div class="col-sm-10">
									<div class="radio">
										<label>
											<input type="radio" name="customer_group_id" value="1" checked="checked"> Default
										</label>
									</div>
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-firstname">Username</label>
								<div class="col-sm-10">
									<input type="text" name="name" value="" required placeholder="First Name" id="input-firstname" class="form-control">
								</div>
							</div>

							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-email">E-Mail</label>
								<div class="col-sm-10">
									<input type="email" name="email" value="" required placeholder="E-Mail" id="input-email" class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-telephone">Telephone</label>
								<div class="col-sm-10">
									<input type="tel" name="phone" value="" required placeholder="Telephone" id="input-telephone" class="form-control">
								</div>
							</div>
							<legend>Your Password</legend>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-password">Password</label>
								<div class="col-sm-10">
									<input type="password" name="password" value="" required placeholder="Password" id="input-password" class="form-control">
								</div>
							</div>

							<legend>Newsletter</legend>
							<div class="form-group">
								<label class="col-sm-2 control-label">Subscribe</label>
								<div class="col-sm-10">
									<label class="radio-inline">
										<input type="radio" name="newsletter" value="1"> Yes
									</label>
									<label class="radio-inline">
										<input type="radio" name="newsletter" value="0"> No
									</label>
								</div>
							</div>
						</fieldset>
<!--						<div class="buttons">-->
<!--							<div class="pull-right">I have read and agree to the <a href="#" class="agree"><b>Pricing Tables</b></a>-->
<!--								<input class="box-checkbox" type="checkbox" name="agree" value="1"> &nbsp;-->
<!--								<input type="submit" value="Continue" class="btn btn-primary">-->
<!--							</div>-->
<!--						</div>-->
						<button class="btn btn-primary  btn-lg waves-effect waves-light" type="/registerr" method="POST" >Register</button>
					</form>
				</div>
			</div>
		</div>
		<!-- //Main Container -->

		</div>
		<!-- Social widgets -->
		<div class="footer-bottom-block ">
			<div class=" container">
				<div class="row">
					<div class="footer-bottom-header">
						<div class="col-xs-12 col-sm-12 col-md-5 download">
							<h3>Download Our App</h3>
							<a href=""><img src="img/demo/download/app.jpg" alt=""></a>
							<a href=""><img src="img/demo/download/ggplay.jpg" alt=""></a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-7 pay">
							<ul>
								<li><img src="img/demo/payment/visa.jpg" alt=""></li>
								<li><img src="img/demo/payment/meastro.jpg" alt=""></li>
								<li><img src="img/demo/payment/paypal.jpg" alt=""></li>
								<li><img src="img/demo/payment/union.jpg" alt=""></li>
								<li><img src="img/demo/payment/cirrus.jpg" alt=""></li>
								<li><img src="img/demo/payment/ebay.jpg" alt=""></li>
							</ul>
						</div>
					</div>
					<div class="text-footer-bot">
						<p>Destino - Premium Multipurpose HTML5/CSS3 Theme - Designed by <a href="#">SmartAddons.Com</a></p>
					</div>
					<div class="back-to-top"><i class="fa fa-angle-up"></i><span> Top </span></div>
				</div>
			</div>
		</div>	<!-- End Social widgets -->
