

<body class="res layout-subpage">
	<div id="wrapper" class="wrapper-full ">

		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main ">
				<li class="home"><a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
				<li> Site Map</li>
			</ul>
			
			<div class="row">
				<div id="content" class="col-sm-12">
					
					<h2 class="title">Site Map</h2>
					<div class="row">
						
						<div class="col-md-5 col-sm-6">
							<ul class="simple-list arrow-list bold-list">
								
								<li><a href="category.ejs">Watches</a>
									<ul>
										<li><a href="category.ejs">Men's Watches</a> </li>
										<li><a href="category.ejs">Women's Watches</a> </li>
										<li><a href="category.ejs">Kids' Watches</a> </li>
										<li><a href="category.ejs">Accessories</a> </li>
									</ul>
								</li>
								
								<li><a href="category.ejs">Health &amp; Beauty</a>
									<ul>
										<li><a href="category.ejs">Perfumes</a> </li>
										<li><a href="category.ejs">Makeup</a> </li>
										<li><a href="category.ejs">Sun Care</a> </li>
										<li><a href="category.ejs">Skin Care</a> </li>
										<li><a href="category.ejs">Eye Care</a> </li>
										<li><a href="category.ejs">Hair Care</a> </li>
									</ul>
								</li>
								<li><a href="category.ejs">Kids &amp; Babies</a>
									<ul>
										<li><a href="category.ejs">Toys</a> </li>
										<li><a href="category.ejs">Games</a>
											<ul>
												<li><a href="category.ejs">test 25</a>
												</li>
											</ul>
										</li>
										<li><a href="category.ejs">Puzzles</a> </li>
										<li><a href="category.ejs">Hobbies</a> </li>
										<li><a href="category.ejs">Strollers</a> </li>
										<li><a href="category.ejs">Health &amp; Safety</a> </li>
									</ul>
								</li>
								<li><a href="category.ejs">Sports</a>
									<ul>
										<li><a href="category.ejs">Cycling</a> </li>
										<li><a href="category.ejs">Running</a> </li>
										<li><a href="category.ejs">Swimming</a> </li>
										<li><a href="category.ejs">Football</a> </li>
										<li><a href="category.ejs">Golf</a> </li>
										<li><a href="category.ejs">Windsurfing</a> </li>
									</ul>
								</li>
								<li><a href="category.ejs">Home &amp; Garden</a>
									<ul>
										<li><a href="category.ejs">Bedding</a> </li>
										<li><a href="category.ejs">Food</a> </li>
										<li><a href="category.ejs">Furniture</a> </li>
										<li><a href="category.ejs">Kitchen</a> </li>
										<li><a href="category.ejs">Lighting</a> </li>
										<li><a href="category.ejs">Tools</a> </li>
									</ul>
								</li>
								<li><a href="category.ejs">Wines &amp; Spirits</a>
									<ul>
										<li><a href="category.ejs">Wine</a> </li>
										<li><a href="category.ejs">Whiskey</a> </li>
										<li><a href="category.ejs">Vodka</a> </li>
										<li><a href="category.ejs">Liqueurs</a> </li>
										<li><a href="category.ejs">Beer</a> </li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-6">
							<ul class="simple-list arrow-list bold-list">
								<li><a href="#">Special Offers</a>
								</li>
								<li><a href="my-account.ejs">My Account</a>
									<ul>
										<li><a href="order-history.ejs">Order History</a>
										</li>
										<li><a href="order-information.ejs">Order Information</a>
										</li>
										<li><a href="return.ejs">Return</a>
										</li>
										<li><a href="gift-voucher.ejs">Gift Voucher</a>
										</li>
									</ul>
								</li>
								<li><a href="cart.ejs">Shopping Cart</a>
								</li>
								<li><a href="checkout.ejs">Checkout</a>
								</li>
								<li><a href="search.ejs">Search</a>
								</li>
								<li>Information
									<ul class="sitemap">
										<li><a href="about-us.ejs">About Us</a>
										</li>
										<li><a href="email-template" target="_blank">Email Template Page</a>
										</li>
										<li><a href="elements.ejs">Elements</a>
										</li>
										<li><a href="elements-forms.ejs">Forms</a>
										</li>
										<li><a href="careers.ejs">Careers</a>
										</li>
										<li><a href="faq.ejs">Faq</a>
										</li>
										<li><a href="404.ejs">404</a>
										</li>
										<li><a href="contact-us">Contact Us</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
		<!-- //Main Container -->
		

</div>